/* defaults */
body {
  background-color: black;
  color: azure;
  font-family: sans-serif;
  line-height: 1.5;
  margin: auto;
  max-width: 90%;
  width: 80%;
  font-weight: lighter;
}

@media only screen and (max-width: 1024px) {
  body {
    background-color: black;
    color: azure;
    font-family: sans-serif;
    line-height: 1.5;
    margin: auto;
    max-width: 95%;
    width: 100%;
    font-weight: normal;
  }
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: deepskyblue;
  text-decoration: none;
}

img {
  width: 90%;
  margin: auto;
}

figcaption {
  margin: auto;
  width: 80%;
  text-align: center;
}

/* Customs - Directive Level */
a.title {
  color: azure;
  float: left;
}

h1.title {
  font-weight: lighter;
}

/* Customs - Class Level */

/* Home Page */
.home {
  margin: auto;
  text-align: center;
  padding-top: 1em;
  word-wrap: normal;
  width: 80%;

  h1 {
    font-size: 1.25em;
  }
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  gap: 10px;
  grid-auto-flow: dense;
  gap: 2em;
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .home-grid {
    display: inline-block;
    gap: 10px;
    gap: 2em;
    justify-items: center;
    align-items: center;
  }
}

.section-box {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  height: 100%;
  display: inline-block;
  align-content: center;
}

.intro-box {
  padding: 1%;
  margin: 1%;
  margin-bottom: 4%;
  width: 100%;
  justify-items: center;
  align-items: center;
}

/* Header */

.home-header {
  margin: auto;
  width: 90%;
}

.menu {
  align-items: center;
}

.menu-item {
  padding-left: 1em;
}

/* All Posts Page */
.list-item {
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: rgb(0, 0, 5);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  border-color: darkgrey;
  font-weight: light;
}

/* Posts */
.prose {
  color: azure;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2 em;
  }

  h4 {
    font-size: 1.1 em;
  }

  p {
    font-size: 1 em;
  }
  
  code {
    background-color: rgb(30,30,30);
    border-radius: 5px;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }
}  