---
import HeaderMeta from "../../components/HeaderMeta.astro"
import BlogList from "../../components/BlogList.astro"
import NavHeader from "../../components/NavHeader.astro"
---
<html lang="en">
    <head>
        <title>Leo's Blog</title>
        <HeaderMeta />
    </head>
    <body class="bg-primary">
        <NavHeader />
        <BlogList title="All Blog Posts" />
        <div class="my-10"/>
    </body>
</html>
