<div class="mx-auto">
    <button class="badge">
        <a
            class="badge-text flex flex-row gap-2 place-items-center grow-0"
            href="https://creativecommons.org/publicdomain/zero/1.0/"
            >CC0</a
        >
    </button>
</div>

<style>
    .badge {
        min-width: 88px;
        max-width: 88px;
        min-height: 31px;
        max-height: 31px;
        border-style: solid;
        border-color: white;
        border-radius: 4px;
        color: white;
        border-width: 0.25px;
        background-color: black;
        display: inline-flex;
        justify-content: center;
    }

    .badge-text {
        font-family: monospace;
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
        font-size: small;
        margin: 0 auto;
    }
</style>
