<div class="mx-auto">
    <span class="badge">
        <span class="badge-text flex flex-row gap-2 place-items-center grow-0"
            >CSS is Awesome!</span
        >
    </span>
</div>

<style>
    .badge {
        min-width: 88px;
        max-width: 88px;
        min-height: 31px;
        max-height: 31px;
        border-style: solid;
        border-color: white;
        border-radius: 4px;
        color: white;
        border-width: 0.25px;
        background: linear-gradient(
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 154, 0, 1) 10%,
                rgba(208, 222, 33, 1) 20%,
                rgba(79, 220, 74, 1) 30%,
                rgba(63, 218, 216, 1) 40%,
                rgba(47, 201, 226, 1) 50%,
                rgba(28, 127, 238, 1) 60%,
                rgba(95, 21, 242, 1) 70%,
                rgba(186, 12, 248, 1) 80%,
                rgba(251, 7, 217, 1) 90%,
                rgba(255, 0, 0, 1) 100%
            )
            0 0/100% 200%;
        animation: fading 2s linear infinite;
        display: inline-flex;
        justify-content: center;
    }

    .badge-text {
        font-family: monospace;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
        line-height: 100%;
    }

    @keyframes fading {
        to {
            background-position: 0 -200%;
        }
    }
</style>
