---
import { Icon } from "astro-icon/components";
---

<div class="mx-auto">
    <span class="badge">
        <span
            class="badge-text flex flex-row gap-2 place-items-center grow-0"
            ><Icon name="opensuse" />openSUSE</span
        >
    </span>
</div>

<style>
    .badge {
        min-width: 88px;
        max-width: 88px;
        min-height: 31px;
        max-height: 31px;
        border-style: solid;
        border-color: #73ba25;
        border-radius: 4px;
        background-color: #173f4f;
        border-width: 0.25px;
        display: inline-flex;
        justify-content: center;
    }

    .badge-text {
        font-family: monospace;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
        color: white;
    }
</style>
