<div class="mx-auto">
    <span class="badge">
        <span
            class="badge-text flex flex-row gap-2 place-items-center grow-0"
            >Punch Nazis!</span
        >
    </span>
</div>

<style>
    .badge {
        min-width: 88px;
        max-width: 88px;
        min-height: 31px;
        max-height: 31px;
        border-style: solid;
        border-color: darkred;
        border-radius: 4px;
        background-color: black;
        border-width: 0.25px;
        display: inline-flex;
        justify-content: center;
    }

    .badge-text {
        font-family: monospace;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
        color: red;
        line-height: 100%;
    }
</style>
