---
import { Icon } from "astro-icon/components";
---

<div class="mx-auto">
    <button class="badge">
        <a
            class="badge-text flex flex-row gap-2 place-items-center grow-0"
            href={new URL("index.xml", Astro.site)}
            ><Icon name="rss" />Full RSS</a
        >
    </button>
</div>

<style>
    .badge {
        min-width: 88px;
        max-width: 88px;
        min-height: 31px;
        max-height: 31px;
        border-style: solid;
        border-color: #ffa500;
        border-radius: 4px;
        color: #ffa500;
        border-width: 0.25px;
        background-color: black;
        display: inline-flex;
        justify-content: center;
    }

    .badge-text {
        font-family: sans-serif;
        font-size: small;
        text-align: center;
        vertical-align: middle;
        margin: 0 auto;
    }
</style>
