---
import HeaderMeta from "../../components/HeaderMeta.astro"
import NavHeader from "../../components/NavHeader.astro"
import RedirectList from "../../components/RedirectList.astro"
---
<html lang="en">
    <head>
        <title>Leo's Blog</title>
        <HeaderMeta />
    </head>
    <body class="bg-primary">
        <NavHeader />
        <RedirectList />
    </body>
</html>
