---
import HeaderMeta from "../components/HeaderMeta.astro";
import NavHeader from "../components/NavHeader.astro";
import IndexBadges from "../components/IndexBadges.astro";
import * as AboutBadges from "../content/badges.md";
import { ContentClasses } from "../content";
---

<html lang="en">
    <head>
        <title>Bring Back Web Badges - Leo's Blog</title>
        <HeaderMeta />
    </head>
    <body class="bg-primary">
        <NavHeader />
        <section class="text-primary mx-auto w-7/8 md:w-1/2 leading-8 my-8">
            <div class:list={ContentClasses} class="px-4">
                <AboutBadges.Content />
            </div>
        </section>
        <IndexBadges />
    </body>
</html>
