---
import HeaderMeta from "../components/HeaderMeta.astro";
import NavHeader from "../components/NavHeader.astro";
import GalleryList from "../components/GalleryList.astro";

---

<html lang="en">
    <head>
        <title>Galleries</title>
        <HeaderMeta />
    </head>
    <body class="bg-primary">
        <NavHeader />
        <GalleryList />
    </body>
</html>
