---
import HeaderMeta from "../components/HeaderMeta.astro";
import NavHeader from "../components/NavHeader.astro";
import ProjectCards from "../components/ProjectCards.astro";
---

<html lang="en">
    <head>
        <title>Projects</title>
        <HeaderMeta />
    </head>
    <body class="bg-primary">
        <NavHeader />
        <ProjectCards />
    </body>
</html>
