---
interface Props {
    label: String
    link: URL
}

const {label, link} = Astro.props
---
<button class="my-2 px-2 py-1 mx-auto">
    <a href={link}>{label}</a>
</button>

<style>
    button {
        background-color: darkslateblue;
        border-radius: 6px;
    }
</style>