---
import { getCollection } from "astro:content";
import GalleryCard from "./GalleryCard.astro";

const galleries = await getCollection("galleries");
---
<h1 class="text-3xl mx-auto text-center text-primary">Galleries</h1>
<section
    class="text-primary mx-auto w-7/8 xl:w-1/2 grid-cols-3 grid-flow-row"
>
    {galleries.map((gal) => <GalleryCard gal={gal} />)}
</section>
