---
import AstroBadge from "./badges/AstroBadge.astro";
import CCBYNCBadge from "./badges/CCBYNCBadge.astro";
import FedipactBadge from "./badges/FedipactBadge.astro";
import GithubBadge from "./badges/GithubBadge.astro";
import MastodonBadge from "./badges/MastodonBadge.astro";
import NixBadge from "./badges/NixBadge.astro";
import PunchBadge from "./badges/PunchBadge.astro";
import RSSBadge from "./badges/RSSBadge.astro";
---

<section class="w-7/8 lg:w-2/5 mx-auto w-auto">
    <div class="flex gap-4 flex-wrap my-6 mx-4 lg:mx-auto items-center">
        <NixBadge />
        <AstroBadge />
        <RSSBadge />
        <GithubBadge />
        <CCBYNCBadge />
        <MastodonBadge />
        <FedipactBadge />
        <PunchBadge />
    </div>
    <footer class="text-primary text-lg text-center mb-8">
        Check out <a class="text-secondary underline decoration-dashed underline-offset-4"
            href={new URL("/badges", Astro.site)}>more badges here!</a>
    </footer>
</section>
