---
interface Props {
    id: string;
    title: string;
    date: Date;
}

const { id, title, date } = Astro.props;
const isoDate = date.toISOString().split("T")[0];
---

<li class="text-primary"><a href=`posts/${id}`>{isoDate}: {title}</a></li>
