<section class="mx-auto w-7/8 text-center">
    <hr class="text-primary my-2" />
    <p class="my-4">
        This work is licensed under <a
            href="https://creativecommons.org/licenses/by-nc/4.0/"
            class="text-secondary underline decoration-dashed underline-offset-4 hover:text-primary"
            >CC BY-NC 4.0</a
        >
    </p>
</section>

<style>
    hr {
        border-top: 1px dotted skyblue;
    }
</style>
