---
import { getCollection } from "astro:content";

const goLinks = await getCollection("go");
---

<section class="text-primary mx-auto w-7/8 lg:w-1/2 leading-8 px-4 my-2 text-center">
    <h1 class="text-3xl my-2">Link Dump</h1>
    <ul>
        {
            goLinks
                .sort((a, b) => a.id.localeCompare(b.id))
                .map((go) => (
                    <li>
                        <a href={go.data.target}>{go.id}</a>
                    </li>
                ))
        }
    </ul>
</section>
