---
import { ContentClasses } from "../content";

interface Props {
    title: String;
    target: URL;
}

const { title, target } = Astro.props;
---

<section class="text-primary mx-auto w-3/4 text-center my-6">
    <h1 class="text-4xl my-4">
        Redirecting to <span class="title-label">{title}</span>...
    </h1>
    <p class="text-2xl" class:list={ContentClasses}>
        If the redirect doesn't work for some reason, <a href={target}
            >click here to proceed</a
        >
    </p>
</section>

<style>
    .title-label {
        text-transform: capitalize;
    }
</style>
