---
import { getCollection } from "astro:content";

interface Props {
    tags: Array<string>;
}

const { tags } = Astro.props;
---

<section class="mx-auto w-7/8 lg:w-1/4 px-4 text-center leading-loose">
    <h1 class="text-3xl my-4 text-primary">Tags</h1>
    <ul>
        {
            tags
                .sort((a, b) => (a > b ? 1 : -1))
                .map((tag) => (
                    <li class="text-secondary underline decoration-dashed underline-offset-4 hover:text-tertiary">
                        <a href={new URL("tags/" + tag, Astro.url)}>{tag}</a>
                    </li>
                ))
        }
    </ul>
</section>
