---
interface Props {
    label: String;
}

const { label } = Astro.props;
const colors = [
    "indigo",
    "mediumvioletred",
    "purple",
    "darkslategrey",
    "forestgreen",
    "firebrick",
    "teal",
    "mediumseagreen",
    "crimson",
    "maroon"
];
var color = colors[Math.floor(Math.random() * colors.length)];
---

<div class="my-2 px-1 mx-1 leading-none">
    <code class="text-sm">{label}</code>
</div>

<style define:vars={{ color }}>
    div {
        background-color: var(--color);
        border-radius: 6px;
    }
</style>
