{{ define "main" }}

<div class="home">
  <div class="intro-box">
    <p> {{ .Site.Data.profile.message }}</p>
    <p>To retrieve my profile data as json, simply GET the /json/ path:</p>
    <code>curl {{ absURL "/json/" }}</code>
    </pre>
  </div>
  <section class="home-grid">
    <div class="section-box">
      <h1>Pages</h1>
      {{ range .Site.Menus.main }}
      <p class="menu-item">
        <a href="{{ .URL | relURL }}">{{ lower .Name }}</a>
      </p>
      {{ end }}
    </div>
    <div class="section-box">
      <h1>Recent Posts</h1>
      {{ range .Site.RegularPages.ByDate.Reverse | first 5 }}
      <p>
        <a href="{{ .RelPermalink }}">{{ lower .Title }}</a>
      </p>
      {{ end }}
      <p>
        <a href="/posts/">-- other posts --</a>
      </p>
    </div>
    <div class="section-box">
      <h1>Social</h1>
      {{ range .Site.Data.profile.social }}
      <p>
        <a href="{{ .link }}">{{ .network }}</a>
      </p>
      {{ end }}
    </div>
    <div class="section-box">
      <h1>Projects</h1>
      {{ range .Site.Data.profile.projects }}
      <p>
        <a href="{{ .link }}">{{ .project }}</a> - {{ .description }} (<code>{{ delimit .tools ", "}}</code>)
      </p>
      {{ end }}
    </div>
  </section>
</div>
{{ end }}